In [ ]:
 Task no 2
Grade Calculator: Calculate a student's grade based on their score (out of 100)

In [2]:
def m_input():
    marks=int(input("Enter your marks"))
    return marks
def calculation(marks):
    if(marks>=90):
        return("A")
    elif(marks>=80):
        return("B")
    elif(marks>=70):
        return("C")
    elif(marks>=60):
        return("D")
    else:
        return("F")
def outputt():
    print(s)
marks=m_input()
s=calculation(marks)
outputt()

Enter your marks 67

D

In [4]:
def m_inputt():
    y=int(input("Enter a year"))
    return y
def calculatio(y):    
    if(y%4==0):
        return("y is leap Year")
    else:
        return("y is not leap Year") 
def outputtt(s):
    print(s)
y=m_inputt()  
b=calculatio(y)
outputtt(b)

Enter a year 2004

y is leap Year

In [6]:
def m_inputtt():
    X=int(input("Enter a number"))
    Y=int(input("Enter a number"))
    return X,Y
def valuee(X,Y):
    if(X>Y):
        print("X is grater")
    else:
        print("Y is Grater") 
def outputtt():
    print (s)
X,Y=m_inputtt()
s=valuee(X,Y)
outputtt()

Enter a number 5
Enter a number 7

Y is Grater
None

In [ ]:
names=input("enter the names of member")

task 5:
Even/Odd Checker: Check if a number is even or odd.

In [ ]:
def findd():
Number=int(input("Enter a number"))
if(Number%2==0):
    print("Number is Even")
else:
    print("Number is Odd")

In [ ]:
Tax Calculator: Calculate tax based on income (tax rate: 10% for income <50,000, 20% otherwise).

In [6]:
def inpu():
    A=int(input("amount of purchase"))
    return A
def proc(A):
    if(A>50000):
    V=A*0.2
    print("V",V)
    else:
        N=A*0.1
        print("N",N)
A=inpu
s=proc(A)

IndentationError: expected an indented block after 'if' statement on line 5 (4053798965.py, line 6)